body{
    padding: 0px;
    margin: 0px;
    padding-top: 0px;
}
header{
    background: white;
    background-size: 100%;
    text-align: center;
    height: 850px;
    margin: 0px;
    padding: 0px;
}
header hr{
    margin-top: 10px;
}
.search{
    background-color: #f5f5f5;
    border: none;
    background-image: url("img/Path 217.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position: 95%;
    height: 17px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    float: right;
    width: 23%;
    margin-top: 10px;
    right: 250px;
    border-radius: 24px;
    position: absolute;
}

  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .div{
    float: right;
    margin-left: 5px;
}
.desktop .top{
    height: 70px;
    border-bottom: 1px solid black;
}
  .drop-down{
    font-size: 12px;
    border: 0.25px solid #d1d1d1;
    float: right;
    width: 111px;
    background: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 90px;
    height: 35px;
}
#flag{
    width: 27px;
    height: 25px;
    border-radius: 28px;
    float: left;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 15px;
    margin-right: -5px;
    margin-top: 8px;
  }
.list ul{
    list-style-type: none;
}
.option{
    background-color: white;
    border: none;
    width: 88px;
    margin-left:-40px;
    margin-top: 5px;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: 5% 4%;
    font-size: 12px;
    text-align: right;
}
#option1{
    border-bottom: 1px solid #d1d1d1; 
    padding-bottom: 5px;
    margin-top: -10px;
    background-image: url("img/en.png");
}
#option2{ 
    background-image: url("img/ge.png");
}
.list{
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 88px;
    height: 70px;
    float: right;
    margin-right: 100px;
    margin-left: 110px;
    display: none;
    clear: both;
}
nav li{
    display: inline-block;
    margin-left: 20px;
    border-radius: 3px;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav{
    text-align:end;
    
}
header .logo{
    text-align: left;
    top: 50px;
}
a{
    text-decoration: none;
}
header a{
    color: black;
    text-decoration: none ;
    text-transform: uppercase;
    margin-top: 60px;
    margin-right: 30px;
}
.desktop .menu a:hover {
    padding-bottom: 5px;
    border-bottom: 1.5px solid black;
    
 }
 
.left{
    float:left;  
    width: 25%;
    height: 100px;
}
.right{
    float: right;
    width: 75%;
    height: 100px;
}

header .logo{
    text-align: left;
    margin-left: 30%;
    
}
header .imgLogo a{
      background-color: none;
      background-image: url("img/logo-grey.png");
      background-repeat: no-repeat;
      background-size: 50px;
      display: inline-block;
      height: 140px;
      width: 300px;
      position: relative;
      top: -50px;
      text-indent: -9999999px;      
}
/*******************/
.mobile{
    display: none;
    height: auto;
    background-image: linear-gradient(132deg, #3db449, #9be643 99%);
    margin-bottom: 150px;
}
.mobile .mobile-container {
    max-width: 780px;
    margin: auto;
    color: black;
   
  }
  .bg-none{
      background: none;
  }

 .mobile .topnav {
    overflow: hidden;
    position: relative;
  }
  #topnav{
      background: none;
  }
  
 .mobile .topnav #myLinks {
    background: white;
    display: none;
  }
  
 .mobile .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-bottom: 30px;
  }
  
 .mobile .topnav a.icon {
    
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
 .mobile .topnav a:hover {
     text-decoration: underline;
  }
  
 .mobile .topnav .active {
        background-color: none;
        background-image: url("img/logo-grey.png");
        background-repeat: no-repeat;
        background-size: 50px;
        margin-left: 20px;
        height: 70px;
        width: 100px;
        position: relative;
        top: -5px;
        text-indent: -9999999px; 
  }
  .mobile .paragraph.mobile{
      height: auto;
      padding: 50px;
  }
 .mobile .paragraph.mobile h1{
      margin-top: 10%;
      margin-bottom: 5%;
      text-transform: uppercase;
      color: white;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 4px;
      margin-left: auto;
      margin-right: auto;
      font-size: 35px;
      text-align: center;
  }
 .mobile .paragraph.mobile p{
      margin-bottom: 50px;
      color: white;
      line-height: 1.6;
      letter-spacing: 1.41px;
      opacity: 0.7;
      font-size: 13px;
      text-align: center;
  }
  
  
  /**********************/


header .menu a{
    position: relative;
    top: 40px;
}
header .menu{
    margin-right: 80px;
}

header hr{
    color: #000000;
    background: #292929;
    opacity: 0.38;
}
.sec1{
    background-image: url("img/pinwheel-2222471_1920.png");
    height: auto;
    margin-top: -650px;
    padding:0px;
    width: 91%;
    float: right;
    background-size:60% 102%;
    background-repeat: no-repeat;
    background-position: right;
}
.sec1 .left-p{
    background-image: linear-gradient(143deg, #3db449 1%, #9be643 59%);
    float: left;
    height: auto;
    width: 30%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 10px 0px 0px 10px;
}
.sec1 .left-p h1{
    margin-top: 30%;
    margin-bottom: 5%;
    text-transform: uppercase;
    color: white;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}
.sec1 .left-p p{
    margin-bottom: 30%;
    color: white;
    line-height: 1.6;
    letter-spacing: 1.41px;
    opacity: 0.7;
    font-size: 13px;
}
.core-values{
    background: white;
    padding: 0% 9% 0% 9%;
    margin: 0px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.title-left#title{
    width: 16%;
    height: 68px;
    background: #47bd53;
    box-shadow: lightgray 0px 0px 8px;
    border-radius: 10px 0px 0px 10px;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 85.5px;
    padding-bottom: 85.5px;
    line-height: 1.38;
    letter-spacing: 2.6px;
}
.values-right{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.values-right .triangle{
    background-image: url("img/right-arrow.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px 50px;
    background-position: -8px;
}
.values-right div{
    width: 25%;
    background: white;
    height: 238px;
    border-right: 1px solid lightgray;
    box-shadow: lightgray 0px 0px 5px;
}
.values-right div.no-border{
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 100px;
}
.values-right div .value-icon{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgba(118, 253, 61, 0.5), rgba(0, 183, 18, 0.5));
  margin: auto;
  margin-top: 50px;
}
.values-right div .value-icon .icon{
    width: 30px;
    height: 30px;
    margin: 9px;
   
}
.values-right div h2{
    color: #47bd53;
    margin-top: 40px;
    text-align: center;
}
.production{
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
    background: #fbfbfb;
    padding-left: 9%;
    padding-right: 9%;
}
.production .h1{
    margin-right: 2%;
    margin-top: -12px;
    text-transform: uppercase;
    float: left;
   
}
.production .hr{
    margin-top: 0px;
    height: 3px;
    background: black;
    color: black;
}
.production .para p{
    float: left;
    line-height: 1.21;
    letter-spacing: 1.52px;
    text-align: left;
    color: #292929;
    font-size: 14px;
    margin-bottom: 100px;
}
.production .pic{
    border: 1px solid lightgray;
    border-radius: 30px;
    height: 430px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
    padding-right: 0px;
    min-width: 1000px;
}
.production .pic.img-R{
    background-image: url("img/img2.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 536px 430px;
}
.production .left-img{
    margin-top: -1.5px;
    margin-bottom: -5px;
    width: auto;
}
.img-size{
    border-radius: 30px 0px 0px 30px;
    width: 536px;
    height: 430px;
}
.img-L{
    display: none;
}
.production .pic .paragraph-right{
    width: 35%;
    margin-left: 5%;
    margin-right: 5.9%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.paragraph-right h1{
    text-transform: uppercase;
    
}
.title{
    text-transform: uppercase;
    color: #acacac;
    
}
.paragraph-right h3{
    line-height: 1.9;
    color: #292929;
    
}
.paragraph-right p{
    font-size: 14px;
    color: #828282;
    line-height: 1.5;
    
}
.sevices{
    background: white;
}
footer{
    background: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 220px;

}
footer nav{
    text-align:end;
    
}
footer .logo{
    text-align: left;
    top: 50px;
}
footer a{
    color: white;
    text-decoration: none ;
    margin-top: 60px;
    margin-right: 30px;
}
footer .logo{
    text-align: left;
    margin-left: 80px;
    
}

footer .imgLogo a{
      background-color: none;
      background-image: url("img/logo.png");
      background-repeat: no-repeat;
      background-size: 50px;
      display: inline-block;
      height: 140px;
      width: 300px;
      position: relative;
      top: -50px;
      text-indent: -9999999px;  
      
    
}
footer .menu a{
    position: relative;
    top: 40px;
}
footer .menu{
    margin-right: 80px;
}
footer h1{
    color: white;
    margin-top: 350px;
    font-size: 50px;
    
}
footer .arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 15px;
    margin-right: -5px;
    margin-top: 8px;
}
footer .drop-down{
    float: left;
    margin-left: 100px;
    font-size: 12px;
    border: 0.25px solid #d1d1d1;
    width: 111px;
    background: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    height: 35px;
    background-color: black;
}
footer .list{
    background-color: white;
    float: left;
}
.div-foo{
    float: left;
    margin-right: 5px;
}
#flag2{
    width: 27px;
    height: 25px;
    border-radius: 28px;
    float: left;
}
#option1-foo{
    border-bottom: 1px solid #d1d1d1; 
    padding-bottom: 5px;
    margin-top: 0px;
    background-image: url("img/en.png");
}
#option2-foo{ 
    background-image: url("img/ge.png");
}
.logo-nav{
    background-color: none;
    
    background-repeat: no-repeat;
    background-size: 30px;
    display: inline-block;
    height: 28px;
    width: 40px;
    position: relative;
    top: 8px;
    text-indent: -9999999px;
    margin-right: 20px; 
}
#twiter{
    background-image: url("img/twitter.png");
}
#youtube{
    background-image: url("img/youtube-white.png");
}
.Copyright{
    height: 40px;
    background: #232323;
    margin-top:200px;
    padding-top: 20px;
    padding-left: 90px;
    margin-bottom: 0px;
}


/*************************************/
@media screen and (max-width: 1240px){
    .logo-nav{
        top: -40px;
    }

}
@media screen and (max-width: 1100px){
    footer{
        height: 250px;
    }
    .Copyright{
        margin-top:230px;
    }

}

@media screen and (max-width: 800px){
    .sec1 .left-p h1{
        font-size: 30px;
    }
    .sec1 .left-p p{
        font-size: 12px;
    }
}
@media screen and (max-width: 730px){
    .sec1 .left-p h1{
        font-size: 25px;
    }
    .sec1 .left-p p{
        font-size: 11px;
    }
    .title-left#title{
        width: 203px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .values-right{
        width: 911px;
    }
    .values-right div{
        width: 303px;
    }
    .values-right div{
        border-right:none;
        border-bottom: 1px solid lightgray;
    }
    .values-right div.no-border{
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 50px;
    }
    .title-left#title{
        border-radius: 10px 10px 0px 0px;
    }
    .core-values{
        margin-left: 9%;
        margin-right: 9%;
    
    }
    .values-right .triangle{
        background-image: url("img/top-arrow.png");
        background-position: top;
        background-size: 50px 30px;
        background-position-y: -8px;
    }
    
}
@media screen and (max-width: 600px){

    .desktop{
        display: none;
    }
    .sec1{
        display: none;
    }
    .mobile{
        display: block;
    }
    .img-size{
        border-radius: 30px 30px 0px 0px;
        margin-left: -0.25%;
        width: 100.75%;
        height: 150px;
    }
    
    .production .pic{
        height: auto;
    }
    .production .pic .paragraph-right{
        text-align: center;
        margin-left: 10%;
        width: 80%;
    }
    .production .pic.img-R{
        background-image: none;
    }
    .img-L{
        display: block;
    }
    .production .pic{
        min-width: 0px;
    }
    footer{
        height: 340px;
    }
    footer .logo{
        margin-left: 10%;
    }
    footer .imgLogo a{
        height: 75px;
    }
    footer .left{
        width: 100%;
        margin-left: -50px;
    }
    footer .right{
        width: 100%;
        float: left;
        margin-left: 0px;
    }
    footer .menu{
        margin-right: 5%;
    }
    footer a{
        margin-right: 5px;
    }
    .Copyright{
        margin-top:320px;
    }
    footer .drop-down{
        margin-left: 20px;
    }
    .list{
        margin-left: 30px;
    }
    .logo-nav{
        top: -30px;
    }
    
}


