body{
    padding: 0px;
    margin: 0px;
    padding-top: 0px;
}
header{
    background: white;
    background-size: 100%;
    text-align: center;
    height: 850px;
    margin: 0px;
    padding: 0px;
}
header hr{
    margin-top: 10px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    float: right;
    width: 20%;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 18px;
    border: solid 1px #000000;
}

  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .language{
    padding: 10px;
    font-size: 12px;
    border: 0.25px solid black;
    float: right;
    width: 7%;
    background: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 100px;
}
nav li{
    display: inline-block;
    margin-left: 20px;
    border-radius: 3px;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav{
    text-align:end;
    
}
header .logo{
    text-align: left;
    top: 50px;
}
a{
    text-decoration: none;
}
header a{
    color: black;
    text-decoration: none ;
    text-transform: uppercase;
    margin-top: 60px;
    margin-right: 30px;
}


.left{
    float:left;  
    width: 25%;
    height: 100px;
}
.right{
    float: right;
    width: 75%;
    height: 100px;
}

header .logo{
    text-align: left;
    margin-left: 30%;
    
}
header .imgLogo a{
      background-color: none;
      background-image: url("img/logo-grey.png");
      background-repeat: no-repeat;
      background-size: 50px;
      display: inline-block;
      height: 140px;
      width: 300px;
      position: relative;
      top: -50px;
      text-indent: -9999999px;      
}
/*******************/
.mobile{
    display: none;
    height: auto;
    background-image: linear-gradient(132deg, #3db449, #9be643 99%);
    margin-bottom: 150px;
}
.mobile .mobile-container {
    max-width: 780px;
    margin: auto;
    color: black;
   
  }
  .bg-none{
      background: none;
  }

 .mobile .topnav {
    overflow: hidden;
    position: relative;
  }
  #topnav{
      background: none;
  }
  
 .mobile .topnav #myLinks {
    background: white;
    display: none;
  }
  
 .mobile .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-bottom: 30px;
  }
  
 .mobile .topnav a.icon {
    
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
 .mobile .topnav a:hover {
     text-decoration: underline;
  }
  
 .mobile .topnav .active {
        background-color: none;
        background-image: url("img/logo-grey.png");
        background-repeat: no-repeat;
        background-size: 50px;
        margin-left: 20px;
        height: 70px;
        width: 100px;
        position: relative;
        top: -5px;
        text-indent: -9999999px; 
  }
  .mobile .paragraph.mobile{
      height: auto;
      padding: 50px;
  }
 .mobile .paragraph.mobile h1{
      margin-top: 10%;
      margin-bottom: 5%;
      text-transform: uppercase;
      color: white;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 4px;
      margin-left: auto;
      margin-right: auto;
      font-size: 35px;
      text-align: center;
  }
 .mobile .paragraph.mobile p{
      margin-bottom: 50px;
      color: white;
      line-height: 1.6;
      letter-spacing: 1.41px;
      opacity: 0.7;
      font-size: 13px;
      text-align: center;
  }
  
  
  /**********************/


header .menu a{
    position: relative;
    top: 40px;
}
header .menu{
    margin-right: 80px;
}

header hr{
    color: #000000;
    background: #292929;
    opacity: 0.38;
}
.sec1{
    background-image: url("img/pinwheel-2222471_1920.png");
    height: auto;
    margin-top: -650px;
    padding:0px;
    width: 91%;
    float: right;
    background-size:60% 102%;
    background-repeat: no-repeat;
    background-position: right;
}
.sec1 .left-p{
    background-image: linear-gradient(143deg, #3db449 1%, #9be643 59%);
    float: left;
    height: auto;
    width: 30%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 10px 0px 0px 10px;
}
.sec1 .left-p h1{
    margin-top: 30%;
    margin-bottom: 5%;
    text-transform: uppercase;
    color: white;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}
.sec1 .left-p p{
    margin-bottom: 30%;
    color: white;
    line-height: 1.6;
    letter-spacing: 1.41px;
    opacity: 0.7;
    font-size: 13px;
}
.core-values{
    background: white;
    padding: 0% 9% 9% 9%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
.title-left{
    width: 190px;
    height: 68px;
    background: #47bd53;
    box-shadow: lightgray 0px 0px 8px;
    border-radius: 10px 0px 0px 10px;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 85.5px;
    padding-bottom: 85.5px;
    line-height: 1.38;
    letter-spacing: 2.6px;
}
.values-right{
    width: 878px;
    height: 238px;
    background: white;
    display: flex;
    flex-wrap: wrap;
}
.values-right div{
    width: 290px;
    background: white;
    height: 238px;
    border-right: 1px solid lightgray;
    box-shadow: lightgray 0px 0px 5px;
}
.values-right div.no-border{
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 100px;
}

/*************************************/
@media screen and (max-width: 800px){
    .sec1 .left-p h1{
        font-size: 30px;
    }
    .sec1 .left-p p{
        font-size: 12px;
    }
}
@media screen and (max-width: 700px){
    .sec1 .left-p h1{
        font-size: 25px;
    }
    .sec1 .left-p p{
        font-size: 11px;
    }
}
@media screen and (max-width: 600px){

    .desktop{
        display: none;
    }
    .sec1{
        display: none;
    }
    .mobile{
        display: block;
    }
    .values-right div{
        border-right:none;
        border-bottom: 1px solid lightgray;
    }
    .values-right div.no-border{
        border-radius: 0px 0px 10px 10px;
    }
    .title-left{
        border-radius: 10px 10px 0px 0px;
    }
}


